

<div class='main-container'>
  <div class='page-title'>新しいアカウントを作成</div>

      <div>
        <p>ユーザー名</p>
        <%= @user.name %>
      </div>
      <div>
        <p>メールアドレス</p>
        <%= @user.email %>
      </div>
      <div>
        <p>アイコン画像</p>
        <%= @user.icon_img %>
      </div>
      <div>
        <p>自己紹介</p>
        <%= @user.introduction %>
      </div>

  </div>
<div>