// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// ルーム情報登録
.main-container {
  width: 60%;
  margin: 50px auto;
  padding: 20px 40px;
  border: 1px solid rgb(219, 219, 219);
}

.page-title {
  color: rgb(82, 82, 82);
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.reservation-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.room-name {
  color: rgb(82, 82, 82);
  font-size: 25px;
  font-weight: bold;
  margin: 20 0 0 0;
}

.room-address {
  color: rgb(82, 82, 82);
  font-size: 18px;
  margin: 20 0 0 0;
}

.room-introduction {
  color: rgb(82, 82, 82);
  font-size: 18px;
  margin: 20 0 0 0;
}

// 予約情報の確認
.reservation-info-box {
  // padding: 0 auto;
  // width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

th {
  padding: 0px 30px 10px 0;
  color: rgb(82, 82, 82);
  font-size: 18px;
  padding-right: 30px;
  font-weight: bold;
}

td {
  padding: 0 0 10px 0;
  color: rgb(82, 82, 82);
  font-size: 18px;
  font-weight: 100;
}


.text-form {
  font-size: 18px;
  font-weight: 100;
  height: 100%;
  border: none;
  text-decoration: none;
}

// ボタンのCSS
.submit-button {
  background-color: rgb(36, 139, 229);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  padding: 3px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  &:hover {
    background-color: rgb(120, 184, 241);
    cursor: pointer;
  }
}

// リンクのCSS
// .back-page {
//   text-align: center;
//   margin-top: 10px;
// }

.back-button {
  width: 100%;
  color: rgb(64, 155, 234);
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: center;
  &:hover {
    color: rgb(120, 184, 241);
    cursor: pointer;
  }
}